absl-py==1.4.0
aiofiles==23.2.1
aiohttp==3.8.5
aiosignal==1.3.1
altair==4.0.0
altgraph==0.17.3
annotated-types==0.6.0
anyio==3.7.1
appdirs==1.4.4
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asgiref==3.7.2
astor==0.8.1
asttokens==2.2.1
astunparse==1.6.3
async-generator==1.10
async-lru==2.0.4
async-timeout==4.0.3
asyncer==0.0.2
attrs==23.1.0
audioread==3.0.1
auto-py-to-exe==2.26.1
Automat==22.10.0
Babel==2.14.0
backcall==0.2.0
backoff==2.2.1
base58==2.1.1
beautifulsoup4==4.12.3
bidict==0.22.1
bleach==6.1.0
blinker==1.8.1
bottle==0.12.23
bottle-websocket==0.2.9
branca==0.6.0
build==0.10.0
CacheControl==0.13.1
cachetools==5.3.0
certifi==2022.12.7
cffi==1.15.1
chainlit==0.7.0
chardet==3.0.4
charset-normalizer==2.1.1
chess==1.10.0
cleo==2.0.1
click==8.0.4
clip @ git+https://github.com/openai/CLIP.git@a1d071733d7111c9c014f024669f959182114e33
cloudpickle==3.0.0
clr-loader==0.2.6
cmake==3.24.2
colorama==0.4.6
comm==0.2.2
comtypes==1.1.14
constantly==15.1.0
contourpy==1.0.6
crashtest==0.4.1
cryptography==40.0.2
cssselect==1.2.0
cv==1.0.0
cycler==0.11.0
dataclasses-json==0.5.14
debugpy==1.8.1
decorator==5.1.1
defusedxml==0.7.1
Deprecated==1.2.14
distlib==0.3.7
distro==1.9.0
Django==4.2.4
django-chess==0.2.1
django-crispy-forms==2.0
django-rest-framework==0.1.0
django-widget-tweaks==1.5.0
djangorestframework==3.14.0
dm-tree==0.1.8
dnspython==2.6.1
docutils==0.19
dulwich==0.21.6
Eel==0.14.0
entrypoints==0.4
exceptiongroup==1.1.1
executing==1.2.0
face-recognition-models==0.3.0
fastapi==0.110.1
fastapi-socketio==0.0.10
fastjsonschema==2.19.1
ffmpy==0.3.2
filelock==3.12.3
filetype==1.2.0
Flask==2.2.2
flatbuffers==24.3.25
folium==0.14.0
fonttools==4.38.0
fqdn==1.5.1
frozenlist==1.4.0
fsspec==2024.3.1
ftfy==6.2.0
future==0.18.2
gast==0.4.0
gevent==22.10.2
gevent-websocket==0.10.1
gitdb==4.0.10
GitPython==3.1.35
google-auth==2.17.3
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
googleapis-common-protos==1.60.0
googletrans==3.0.0
gradio==4.25.0
gradio_client==0.15.0
greenlet==2.0.1
grpcio==1.54.0
gTTS==2.3.0
h11==0.9.0
h2==3.2.0
h5py==3.8.0
hpack==3.0.0
hstspreload==2024.4.1
httpcore==0.9.1
httpx==0.13.3
huggingface-hub==0.21.4
hyperframe==5.2.0
hyperlink==21.0.0
idna==2.10
imageio==2.23.0
importlib-metadata==6.8.0
importlib_resources==6.4.0
imutils==0.5.4
incremental==22.10.0
installer==0.7.0
ipykernel==6.29.3
ipython==8.14.0
ipywidgets==8.1.2
isoduration==20.11.0
itemadapter==0.8.0
itemloaders==1.1.0
itsdangerous==2.1.2
jaraco.classes==3.3.0
jax==0.4.8
jedi==0.19.0
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.2.0
json5==0.9.24
jsonpointer==2.4
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
jupyter==1.0.0
jupyter-console==6.6.3
jupyter-events==0.10.0
jupyter-lsp==2.2.4
jupyter_client==8.6.1
jupyter_core==5.7.2
jupyter_server==2.13.0
jupyter_server_terminals==0.5.3
jupyterlab==4.1.5
jupyterlab_pygments==0.3.0
jupyterlab_server==2.25.4
jupyterlab_widgets==3.0.10
keras==2.13.1
keyboard==0.13.5
keyring==24.2.0
Kivy==2.1.0
kivy-deps.angle==0.3.3
kivy-deps.glew==0.3.1
kivy-deps.gstreamer==0.3.3
kivy-deps.sdl2==0.4.5
Kivy-Garden==0.1.5
kivymd==1.1.1
kiwisolver==1.4.4
Lazify==0.4.0
lazy_loader==0.4
libclang==18.1.1
librosa==0.10.1
llvmlite==0.42.0
lxml==4.9.2
Markdown==3.4.3
markdown-it-py==3.0.0
MarkupSafe==2.1.1
marshmallow==3.20.1
matplotlib==3.4.2
matplotlib-inline==0.1.6
mdurl==0.1.2
middleware==1.2.3
middleware-apm==0.4.1
mistune==3.0.2
ml-dtypes==0.1.0
more-itertools==10.1.0
MouseInfo==0.1.3
mpmath==1.3.0
msgpack==1.0.5
mss==7.0.1
multidict==6.0.4
mypy-extensions==1.0.0
mysql-connector-python==8.0.23
nbclient==0.10.0
nbconvert==7.16.3
nbformat==5.10.3
nest-asyncio==1.5.7
networkx==2.8.8
nodeenv==1.8.0
notebook==7.1.2
notebook_shim==0.2.4
numba==0.59.1
numpy==1.23.5
oauthlib==3.2.2
openai==0.28.0
openai-clip==1.0.1
opencage==2.3.0
opencv-contrib-python==4.8.0.76
opencv-python==4.10.0.84
opentelemetry-api==1.15.0
opentelemetry-distro==0.36b0
opentelemetry-exporter-otlp==1.20.0
opentelemetry-exporter-otlp-proto-common==1.20.0
opentelemetry-exporter-otlp-proto-grpc==1.15.0
opentelemetry-exporter-otlp-proto-http==1.20.0
opentelemetry-instrumentation==0.36b0
opentelemetry-instrumentation-django==0.36b0
opentelemetry-instrumentation-flask==0.36b0
opentelemetry-instrumentation-wsgi==0.36b0
opentelemetry-propagator-aws-xray==1.0.1
opentelemetry-propagator-b3==1.20.0
opentelemetry-propagator-gcp==1.6.0
opentelemetry-propagator-jaeger==1.20.0
opentelemetry-propagator-ot-trace==0.41b0
opentelemetry-proto==1.15.0
opentelemetry-sdk==1.15.0
opentelemetry-semantic-conventions==0.36b0
opentelemetry-util-http==0.36b0
opt-einsum==3.3.0
orjson==3.10.0
outcome==1.2.0
overrides==7.7.0
packaging==23.1
pandas==2.0.3
pandocfilters==1.5.1
parsel==1.8.1
parso==0.8.3
pefile==2022.5.30
pexpect==4.8.0
phonenumbers==8.13.22
pickleshare==0.7.5
pillow==10.3.0
pipenv==2020.11.15
pkginfo==1.9.6
platformdirs==3.10.0
playsound==1.3.0
poetry==1.6.1
poetry-core==1.7.0
poetry-plugin-export==1.5.0
pooch==1.8.1
prisma==0.10.0
prometheus_client==0.20.0
prompt-toolkit==3.0.39
Protego==0.2.1
protobuf==3.20.3
proxy-tools==0.1.0
psutil==5.9.5
ptyprocess==0.7.0
pure-eval==0.2.2
py-cpuinfo==9.0.0
pyaml==24.4.0
pyarrow==16.0.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
PyAudio==0.2.12
PyAutoGUI==0.9.53
pycparser==2.21
pydantic==2.6.4
pydantic_core==2.16.3
pydeck==0.9.0b1
PyDispatcher==2.0.7
pydub==0.25.1
pyfiglet==1.0.2
pygame==2.0.1
pygbag==0.7.2
PyGetWindow==0.0.9
Pygments==2.13.0
pyimage==0.1.1
pyinstaller==5.7.0
pyinstaller-hooks-contrib==2022.14
PyJWT==2.8.0
pymongo==4.8.0
PyMsgBox==1.0.9
pymunk==6.5.1
pyo-js-turtle==0.1.1
pyodbc==5.1.0
pyOpenSSL==23.1.1
pyparsing==3.0.9
pyperclip==1.8.2
pypiwin32==223
pyproject_hooks==1.0.0
PyRect==0.2.0
pyrsistent==0.19.3
PyScreeze==0.1.28
PySocks==1.7.1
python-dateutil==2.8.2
python-dotenv==1.0.0
python-engineio==4.7.1
python-graphql-client==0.4.3
python-imagesearch==1.2.2
python-json-logger==2.0.7
python-multipart==0.0.9
python-socketio==5.9.0
python-vlc==3.0.18121
python3-xlib==0.15
pythonnet==3.0.3
pyttsx3==2.90
pytweening==1.0.4
pytz==2024.1
PyWavelets==1.4.1
pywebview==5.0.5
pywin32==305
pywin32-ctypes==0.2.0
pywinpty==2.0.13
PyYAML==6.0.1
pyzmq==25.1.2
qtconsole==5.5.1
QtPy==2.4.1
queuelib==1.6.2
rapidfuzz==2.15.1
referencing==0.34.0
regex==2023.12.25
requests==2.31.0
requests-file==1.5.1
requests-oauthlib==1.3.1
requests-toolbelt==1.0.0
rfc3339-validator==0.1.4
rfc3986==1.5.0
rfc3986-validator==0.1.1
rich==13.7.1
rpds-py==0.18.0
rsa==4.9
ruff==0.3.5
safetensors==0.4.2
scikit-image==0.19.3
scikit-learn==1.2.2
scipy==1.9.3
Scrapy==2.8.0
seaborn==0.12.2
selenium==4.9.0
semantic-version==2.10.0
Send2Trash==1.8.2
service-identity==21.1.0
shellingham==1.5.3
simple-websocket==0.10.1
six==1.16.0
smmap==5.0.0
sniffio==1.3.0
sortedcontainers==2.4.0
soundfile==0.12.1
soupsieve==2.5
soxr==0.3.7
SpeechRecognition==3.9.0
sqlparse==0.4.4
stack-data==0.6.2
starlette==0.37.2
streamlit==0.89.0
sympy==1.12
syncer==2.0.3
tensorboard==2.12.2
tensorboard-data-server==0.7.0
tensorboard-plugin-wit==1.8.1
tensorflow==2.12.0
tensorflow-estimator==2.12.0
tensorflow-intel==2.12.0
tensorflow-io-gcs-filesystem==0.31.0
tensorflow-probability==0.17.0
termcolor==2.2.0
terminado==0.18.1
text-to-speech==1.5.3
thop==0.1.1.post2209072238
threadpoolctl==3.1.0
thrift==0.16.0
tifffile==2022.10.10
tinycss2==1.2.1
tldextract==3.4.0
token-utils==0.1.8
tokenizers==0.15.2
toml==0.10.2
tomli==2.0.1
tomlkit==0.12.0
toolz==0.12.1
torch==2.0.1
torchvision==0.15.2
tornado==6.4
tqdm==4.66.1
traitlets==5.9.0
transformers==4.38.2
trio==0.22.0
trio-websocket==0.10.2
trove-classifiers==2023.8.7
Twisted==22.10.0
twisted-iocpsupport==1.0.3
typer==0.12.1
types-python-dateutil==2.9.0.20240316
typing-inspect==0.9.0
typing_extensions==4.11.0
tzdata==2024.1
tzlocal==5.2
ultralytics==8.0.173
uptrace==1.20.0
uri-template==1.3.0
urllib3==2.2.1
uvicorn==0.23.2
validators==0.28.1
virtualenv==20.24.5
virtualenv-clone==0.5.4
w3lib==2.1.1
watchdog==4.0.0
watchfiles==0.20.0
wcwidth==0.2.13
webcolors==1.13
webencodings==0.5.1
websocket-client==1.7.0
websockets==11.0.3
Werkzeug==2.2.2
whatimage==0.0.3
whichcraft==0.6.1
widgetsnbextension==4.0.10
wrapt==1.16.0
wsproto==1.2.0
yarl==1.9.2
zipp==3.18.1
zope.event==4.6
zope.interface==5.5.2
